<div>
<%= form_with(model: @transaction, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :amount %>
  <%= f.number_field :amount, class: 'form-control' %>
  
  <%= f.submit 'Submit', class: 'btn btn-primary btn__sign mt-4' %>
  
<% end %>
</div>